body,
html {
  /* height:100%; */

  margin: 0px;
  padding: 0px;

#app {
  display: grid;
  grid-template-rows: auto 1fr auto; /* Header / Main / Footer */
  min-height: 100vh;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul {
  display: flex;
}

main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.store-item {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.store-item img {
  max-width: 100%;
} 
}
