body,
html {
  /* height:100%; */

  margin: 0px;
  padding: 0px;

#app {
  display: grid;
  grid-template-rows: auto auto auto; /* Header / Main / Footer */
  min-height: 100vh;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}

}

main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.store-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  text-align: center;
}
.store-item img {
  max-width: 100%;
} 
.store-item .info-row {
  display: flex;
  justify-content: space-around;
}

}
