body,
html {
  /* height:100%; */

  margin: 0px;
  padding: 0px;

#app {
  display: grid;
  grid-template-rows: auto 1fr auto; /* Header / Main / Footer */
  min-height: 100vh;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
}
